
<%= stylesheet_link_tag "query_form" %>

<% content_for :title, "Course Overview" %>

<%= render 'layouts/course_overview_query_form' %>


<!-- Do this when queried -->
<% if !params['term'].nil? %>


    <div style="width:1150px;margin:auto;padding-top:10px;padding-bottom:50px;">

      <p style="font-size: 20px;">
        <strong><%= params['major'] %></strong> course choices which <%= @info['cur_user'].firstName %> can take for <strong><%= params['term'] %></strong>
      </p>

      <% @info['req_cat'].each do | category | %>

          <!-- for testing purposes -->
          <p><% @info['co'][category.id] %></p>

          <% if !@info['co'][category.id][:have_not_term_courses].empty? %>

              <div class="list-group container_list">
                <button type="button" class="list-group-item list-group-item-action active">
                  <table>
                    <tr>
                      <td><strong style="padding: 2px 10px;"><%= category.name %></strong></td>
                      <td style="font-size: 13px;">(<%= category.category %>)</td>
                      <td style="padding: 2px 20px;color: #fc9d9d;"> <strong><%= @info['co'][category.id][:units_left].truncate %></strong> units still needed from</td>
                    </tr>
                  </table>

                </button>

                <% @info['co'][category.id][:have_courses].each do |course| %>
                    <button type="button" class="list-group-item list-group-item-action" style="background-color: #90ee90;">
                      <table>
                        <tr>
                          <td style="width: 130px; padding: 2px 10px;"><strong><%= course.name %></strong></td>
                          <td style="width: 250px; padding: 2px 10px 2px 75px;"><%= course.descr %></td>
                          <td style="width: 200px; padding: 2px 55px;">complete!</td>
                        </tr>
                      </table>
                    </button>
                <% end %>

                <% if !@info['co'][category.id][:fulfilled] %>

                    <% @info['co'][category.id][:have_not_term_courses].each do |term_course| %>

                        <% temp_course = @info['co'][category.id][:have_not_courses].detect{|e| e.id == term_course.course_id} %>

                        <button type="button" class="list-group-item list-group-item-action">
                          <table>
                            <tr>
                              <td style="width: 130px; padding: 2px 10px;"><strong><%= temp_course.name %></strong></td>
                              <td style="width: 60px; padding: 2px 10px;">sec <%= term_course.section %></td>
                              <td style="width: 10px; padding: 2px 10px;"><%= term_course.courseType %></td>
                              <td style="width: 250px; padding: 2px 10px;"><%= temp_course.descr %></td>
                              <td style="width: 75px; padding: 2px 10px;">units: <%= temp_course.units.truncate %></td>
                              <td style="width: 200px; padding: 2px 10px;"><%= term_course.location %></td>
                              <td style="width: 150px; padding: 2px 10px;"><%= day_time_of_week(term_course)%></td>
                              <td style="width: 150px; padding: 2px 10px;"><%= term_course.instructor %></td>
                              <td style="width: 20px; padding: 2px 10px;"><%= term_course.classNumber %></td>
                              <td style="width: 100px; padding: 2px 10px;"><%= term_course.status %></td>
                            </tr>
                          </table>
                        </button>

                    <% end %>

                <% end %>

              </div>

          <% end %>

      <% end %>

    </div>

<% end %>

