<table border="2">
  <caption>Current Users</caption>
  <tr>
    <td>School Id</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>User Type</td>
    <td>Email</td>
  </tr>
  <% User.all.each do |t| %>
      <tr>
        <td><%= t.schoolId %></td>
        <td><%= t.firstName %></td>
        <td><%= t.lastName %></td>
        <td><%= t.userType %></td>
        <td><%= t.email %></td>
      </tr>
  <% end %>
</table>

<br>

<table border="2">
  <caption>Current Majors</caption>
  <tr>
    <td>Major</td>
    <td>Catalog Year</td>
  </tr>
  <% Major.all.each do |t| %>
      <tr>
        <td><%= t.name%></td>
        <td><%= t.catalogYear %></td>
      </tr>
  <% end %>
</table>

<br>

<table border="2">
  <caption>Current Courses</caption>
  <tr>
    <td>name</td>
    <td>descr</td>
    <td>genre</td>
    <td>units</td>
    <td>classStandingUnitRequirement</td>
    <td>divisionType</td>
  </tr>
  <% Course.all.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.descr %></td>
        <td><%= t.genre %></td>
        <td><%= t.units %></td>
        <td><%= t.classStandingUnitRequirement %></td>
        <td><%= t.divisionType %></td>
      </tr>
  <% end %>
</table>

<br>

<table border="2">
  <caption>Current Terms</caption>
  <tr>
    <td>name</td>
    <td>year</td>
    <td>isCurrentTerm</td>
  </tr>
  <% Term.all.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.year %></td>
        <td><%= t.isCurrentTerm %></td>
      </tr>
  <% end %>
</table>

<br>

<% spring_term = Term.find_by(name: "Spring", year: 2020) %>

<table border="2">
  <caption>Courses for Spring 2020</caption>
  <tr>
    <td>name</td>
    <td>section</td>
    <td>courseType</td>
    <td>status</td>
    <td>location</td>
    <td>instructor</td>
    <td>classNumber</td>
  </tr>
  <% spring_term.term_courses.all.each do |t| %>
      <tr>
        <td><%= t.course.name %></td>
        <td><%= t.section %></td>
        <td><%= t.courseType %></td>
        <td><%= t.status %></td>
        <td><%= t.location %></td>
        <td><%= t.instructor %></td>
        <td><%= t.classNumber %></td>
      </tr>
  <% end %>
</table>

