<!-- used for icons in front of coyote id and password-->
<%= stylesheet_link_tag "welcome_login" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<% content_for :title, "QuickReg" %>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://image.shutterstock.com/image-photo/coyote-running-260nw-375709666.jpg" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <%= form_tag( login_path, method: "post") do %>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <%= text_field_tag(:sid, "", placeholder: ' coyote id') %>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= password_field_tag(:pass, "", placeholder: ' password') %>
          </div>

          <div class="d-flex justify-content-center mt-3 login_container">
            <%= submit_tag("Sign in", class: "btn btn-large login_btn" ) %>
          </div>
        <% end %>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account?
        </div>
        <div class="d-flex justify-content-center links">
          Notify Administration.
        </div>
      </div>
    </div>
  </div>
</div>



