
<% content_for :title, "Degree Requirement" %>

<%= stylesheet_link_tag "query_form" %>

<%= render 'layouts/major_requirement_form' %>

<% if !@info.nil?%>

    <div style="width:90%;margin:auto;padding-top:10px;padding-bottom:50px;">

      <p style="font-size: 20px;font-weight: bold;"><%= @info['major'].name %> <%= params[:catalog_year] %> graduation requirements</p>

      <% @info['req_cat'].each do | category | %>

          <!-- for testing purposes -->
          <p><% @info['co'][category.id] %></p>

          <div class="list-group container_list">

            <button type="button" class="list-group-item list-group-item-action active">
              <table>
                <tr>
                  <td><strong style="padding: 2px 10px;"><%= category.name %></strong></td>
                  <td style="font-size: 13px;">(<%= category.category %>)</td>
                   <% if @info['co'][category.id][:fulfilled] %>
                      <td style="padding: 2px 20px;color: #90ee90;">Requirement Fulfilled!</td>
                   <% else %>
                      <td style="padding: 2px 20px;color: #fc9d9d;"> <%= "#{@info['co'][category.id][:units_left].truncate} units still needed from"%></td>
                   <%end %>
                </tr>
              </table>
            </button>

            <% @info['co'][category.id][:have_courses].each do |course| %>
                <button type="button" class="list-group-item list-group-item-action" style="background-color: #90ee90;">
                  <table>
                    <tr>
                      <td style="width: 130px; padding: 2px 10px;"><strong><%= course.name %></strong></td>
                      <td style="width: 500px; padding: 2px 10px;"><%= course.descr %></td>
                    </tr>
                  </table>
                </button>
            <% end %>

            <% @info['co'][category.id][:have_not_courses].each do |course| %>
                <button type="button" class="list-group-item list-group-item-action">
                  <table>
                    <tr>
                      <td style="width: 130px; padding: 2px 10px;"><strong><%= course.name %></strong></td>
                      <td style="width: 500px; padding: 2px 10px;"><%= course.descr %></td>
                      <td style="width: 75px; padding: 2px 10px;"><%= course.units.truncate %> units</td>
                    </tr>
                  </table>
                </button>
            <% end %>

          </div>

      <% end %>

    </div>

<% end %>




