<% content_for :title, "Profile" %>

<div style="margin-left: 100px;width:70%;padding-top: 10px;">

  <h1><%= @profile.lastName %>, <%= @profile.firstName %></h1>
  <p style="font-weight:bold;font-size: 20px;"><%= @profile.email %></p>

<div class="list-group" style="width:40%; padding-bottom: 20px; margin: 0;">
<button type="button" class="list-group-item list-group-item-action active">
  <strong>Major</strong>
</button>
<% @majors.each do |major| %>
      <button type="button" class="list-group-item list-group-item-action" style="text-align: center;">
      <%= major.major.name %>
      </button>
<% end %>

  <button type="button" class="list-group-item list-group-item-action active">
    <strong>Catalog Year</strong>
  </button>
  <% @majors.each do |major| %>
      <button type="button" class="list-group-item list-group-item-action" style="text-align: center;">
        <%= @profile.gradCatalogYear %>
      </button>
  <% end %>

  <button type="button" class="list-group-item list-group-item-action active">
    <strong>Units Acquired</strong>
  </button>
  <% @majors.each do |major| %>
      <button type="button" class="list-group-item list-group-item-action" style="text-align: center;">
        <%= params['unit_count'].truncate %>
      </button>
  <% end %>

  <button type="button" class="list-group-item list-group-item-action active" >
    <strong>Last logged in</strong>
  </button>
  <% @majors.each do |major| %>
      <button type="button" class="list-group-item list-group-item-action" style="text-align: center;">
        <%= @profile.lastAccessed %>
      </button>
  <% end %>
</div>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
   <strong>Course History</strong>
  </button>

<% @courses.each do |course| %>
      <button type="button" class="list-group-item list-group-item-action">
        <table>
          <tr>
            <td style="width: 130px; padding: 2px 10px;"><strong><%= course.course.name %></strong></td>
            <td style="width: 500px; padding: 2px 10px; font-weight: bold;"><%= course.course.descr %></td>
            <td style="width: 75px; padding: 2px 10px;"><%= course.course.units.truncate %> units</td>
          </tr>
        </table>
      </button>
  <% end %>
</div>
</div>