.query_form {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #0065BD;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.query_options {
    width: 100%;
    padding: 2px 17px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.query_submit {
    width: 100%;
    background-color: #fada5e;
    color: black;
    padding: 5px 20px;
    margin: 10px 2px 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.query_submit:hover {
    background-color: #fada5e;
}

.query_tag {
    color: white;
}