<div class="container query_form">
  <%= form_tag( course_overview_path, method: "get" ) do %>

  <div>
  <%= label_tag(:term, "Term: ", class: "query_tag") %>
  <%= select_tag :term, options_for_select(@info['terms'], :selected => params['term'] ), class: "query_options" %>
  </div>

  <div>
  <%= label_tag(:major, "Degree: ", class: "query_tag") %>
  <%= select_tag :major, options_for_select(Major.distinct.order(:name).pluck(:name), :selected => params['major']), class: "query_options" %>
  <%= select_tag :catalog_year, options_for_select(Major.distinct.order(catalogYear: :desc).pluck(:catalogYear), :selected => params['catalog_year']), class: "query_options" %>
  </div>

  <%= submit_tag("Submit", class: "btn btn-large login_btn query_submit" ) %>

  <% end %>
</div>
