<div class="container query_form">
<%= form_tag( major_requirement_path, method: "get" ) do %>

<%= label_tag(:major, "Degree: ", class: "query_tag") %>
<%= select_tag :major, options_for_select(Major.distinct.order(:name).pluck(:name), :selected => params['major']), class: "query_options" %>

<%= label_tag(:catalog_year, "Catalog Year: ", class: "query_tag") %>
<%= select_tag :catalog_year, options_for_select(Major.distinct.order(catalogYear: :desc).pluck(:catalogYear), :selected => params['catalog_year']), class: "query_options" %>

<%= submit_tag("Submit", class: "btn btn-large login_btn, query_submit" ) %>

<% end %>
</div>
